.main-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.small-conatiner {
  background-color: #150b3e;
  width: 40%;

  padding: 60px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.heading-container {
  display: flex;
  flex-direction: row;
}
.heading {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #c7d2fe;
  color: #7c3aed;
  font-family: 'Roboto';
  text-align: center;
  font-size: 18px;
  padding-top: 20px;
}
.name {
  color: #d4d2db;
  font-size: 25px;
  margin-left: 30px;
  font-family: 'Robot';
  padding-top: 20px;
}
.money-detail-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.money-heading {
  color: #585076;
  font-size: 25px;
  font-family: 'Roboto';
  font-weight: bold;
}
.amount-heading {
  color: #d4d2db;
  font-size: 40px;
  font-family: 'Roboto';
  font-weight: bold;
}
.amount-para {
  color: #585076;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: bold;
}
.ul-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}
.withdraw {
  color: #d4d2db;
  font-size: 30px;

  font-family: 'Robot';
}
.sum-heading {
  color: #585076;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: bold;
}
